*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flip{
    transform: rotateY(180deg);
}

.nivel-z-index{
    z-index: 20;
}

.move-box{
    transform: translateX(-50%);
}



body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container{
    z-index: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #DC0A2D;
    margin: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
    border: 2px solid black;
    /* border-radius: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container::before{
    z-index: 0;
    content: '';
    width: 100%;
    height: 100%;
    /* border-radius: 1rem; */
    background-color: #272526;
    position: absolute;
    
    clip-path: polygon(47% 20%, 60% 13%, 100% 13%, 100% 100%, 0 100%, 0 20%);
}
.container::after{
    z-index: 0;
    content: '';
    width: 100%;
    height: 100%;
    /* border-radius: 1rem; */
    background-color: #DC0A2D;
    position: absolute;
    
    clip-path: polygon(47% 21%, 60% 14%, 100% 14%, 100% 100%, 0 100%, 0 21%);
}


.card{
    z-index: 4;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    position: absolute;
    right: 0;
}
.card-inner{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: right;
    transition: transform 1s;
    display: flex;
}

.front-face{
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #DC0A2D;
    position: absolute;
    backface-visibility: hidden;
    /* border-radius: 1rem; */
    clip-path: polygon(47% 21%, 60% 14%, 100% 14%, 100% 100%, 0 100%, 0 21%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-face{
    width: 100%;
    height: 100%;
    background-color: #1f0106;
    position: absolute;
    backface-visibility: hidden;
    /* border-radius: 1rem; */
    transform: rotateY(-180deg);
    clip-path: polygon(47% 21%, 60% 14%, 100% 14%, 100% 100%, 0 100%, 0 21%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card:hover .card-inner {
    transform: rotateY(180deg);
} */




.blue-btn {
    z-index: 11;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    left: 1rem;
    background-color: #f1f3f5;
    border: solid 1px black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.44);
}

.blue-btn::after{
    z-index: 10;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.44);
    background-color: #2D88FF;  
}

.container-minilight{
    position: absolute;
    top: .5rem;
    left: 5rem;
    display: flex;
    gap: 1rem;
}

.red-light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: #B54D00;
}

.yellow-light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: #FCFD00;
}
.green-light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
    background-color: #61F27D;
}

.container-tela{
    width: 80%;
    height: 83%;
    /* background-color: #2D88FF; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
}

.tela{
    z-index: 1;
    width: 100%;
    height: 70%;
    border-radius: 0px 0px 0px 2rem;
    background-color: #f1f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}

.tela::after{
    z-index: 0;
    content: '';
    width: 90%;
    height: 85%;
    background-color: #01060c;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}

.btns-primeir-tela{
    
    width: 100%;
    height: 20%;
    
    background-color: #DC0A2D;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 1rem;
}

.btn-round{
    z-index: 2;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #01060c;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}



.btn-start-select{
    z-index: 2;
    width: 100%;
    height: 40%;
    background-color: #69BC64;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}

.btn-setas{
    z-index: 2;
    display: grid;
    grid-template-areas: 
    '... btn-top ...'
    'btn-left btn-meio btn-right'
    '... btn-botton ...';
}

.btn-top {grid-area: btn-top;}
.btn-right {grid-area: btn-right;}
.btn-left {grid-area: btn-left;}
.btn-botton {grid-area: btn-botton;}
.btn-meio {grid-area: btn-meio;}

.btn-meio {
    width: 20px;
    height: 20px;
    
    background-color: #01060c;
    text-align: center;
    
}

.btn-top{
    width: 20px;
    height: 20px;
    background-color: #01060c;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}
.btn-botton{
    width: 20px;
    height: 20px;
    background-color: #01060c;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}
.btn-right{
    width: 20px;
    height: 20px;
    background-color: #01060c;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}
.btn-left{
    width: 20px;
    height: 20px;
    background-color: #01060c;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.44);
}

/* Parte de frente da porta */

#triangulo-para-direita {
    z-index: 5;
    width: 0; 
    height: 0; 
    position: absolute;
    top: 50%;
    left: 1px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #FDC302;
  }

.porta-frente-footer{
   z-index: 1;
    width: 60%;
    height: .5rem;
    border-radius: 3rem;
    border: 2px solid black;
    margin-top: auto;
    margin-bottom: 2rem;
}

button{
    z-index: 20;
}
button:hover{
    background-color: #2D88FF;
}



/* Box */

.box{
    --width: 40vmin;
    --height: 70vmin;
    --depth: 3vmin;
    transition: transform 1s;
    width: var(--width);
    height: var(--height);
    position: relative;
    perspective: 500px;
    transform-style: preserve-3d;
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    
}

.box__face{
    position: absolute;
    background: #DC0A2D;
    border: solid 1px black;
    
    left: 50%;
    top: 50%;
}


.box__face--back, .box__face--front{
    width: var(--width);
    height: var(--height);
    --coeff: -0.5;
    transform: translate(-50%, -50%) translate3d(0, 0, calc(var(--depth) * var(--coeff)));
}

.box__face--front{
    --coeff: 0.5
}

.box__face--left, .box__face--right{
    width: var(--depth);
    height: var(--height);

    --rotate: 90deg;

    transform: translate(-50%, -50%) rotateY(var(--rotate)) translate3d(0, 0, calc(var(--width) * 0.5));
}


.box__face--left{
    --rotate: -90deg
}


.box__face--top, .box__face--bottom{
    width: var(--width);
    height: var(--depth);

    --rotate: 90deg;

    transform: translate(-50%, -50%) rotateX(var(--rotate)) translate3d(0, 0, calc(var(--height) * 0.5));
}

.box__face--bottom{
    --rotate: -90deg
}


.box.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.box.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.box.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.box.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.box.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }